{% extends 'base.html' %}

{% block title %} Login Here {% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<form method="POST" class="form-group">
    {% csrf_token %}
    {{form | crispy}}
    <p>Don't have an account? Create one <a href="/register">here</a></p>
    <button type="submit" class="btn btn-success">Login</button>
</form>
{% endblock %}
