{% extends 'base.html' %}

{% block title %} Welcome Home {% endblock %}

{% block content %}
    <p>Don't have an account? Create one <a href="/register">here</a></p>
    <p>Already have an account? Login <a href="/user/login">here</a></p>
{% endblock %}