{% extends 'base.html' %}

{% block title %} Welcome TO Success page {% endblock %}

{% block content %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{user.username}}! you have Successfully logged In</p>
                <br>
                <p>To log out press <a href="/user/logout">here</a></p>
            </div>
        </div>
    </div>
{% endblock %}